.navbar {

}

.aye {
    color: #143451;
}

.jumbotron {
    text-align: center;
    background-color: #e5e5e9;
}

.z {

}

.nkPhotography {
    font-family: 'Abril Fatface', cursive;
    color: #275e55;
}

.pageName {
    font-family: 'Noto Serif KR', sans-serif;
    color: #143451;
}

#container {

}

#text {

}

#k {
    font-family: 'Nanum Myeongjo', serif;
    align-content: inline;
}

#imageDiv {
    float: left;

}

#img {
    height: 50%;
    width: 50%;

}

#form {
    float: right;
    clear: all;
}

.emailForm {
   

}

#emailInput1 {

}

.questionsForm {

}

#questionsInput1 {

}

.submit {

}