
.jumbotron {
    text-align: center;
}

.nkPhotography {
    font-family: 'Abril Fatface', cursive;
}

.pageName {
    font-family: 'Noto Serif KR', sans-serif;
}





#a {
    font-family: 'Sacramento', cursive;
}

#b {
    font-family: 'Parisienne', cursive;
}

#c {
    font-family: 'Rochester', cursive;
}

#d {
    font-family: 'Abril Fatface', cursive;
}

#e {
    font-family: 'Raleway Dots', cursive;
}

#f {
    font-family: 'Noto Serif KR', sans-serif;
}

#g {
    font-family: 'Playfair Display', serif;
}

#h {
    font-family: 'Merriweather', serif;
}

#i {
    font-family: 'Source Serif Pro', serif;
}

#j {
    font-family: 'Cormorant Garamond', serif;
}

#k {
    font-family: 'Nanum Myeongjo', serif;
}





/*fonts */

font-family: 'Sacramento', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Rochester', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Noto Serif KR', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Nanum Myeongjo', serif;